{% extends 'admin/base.html' %}

{% block title %}All Orders{% endblock %}

{% block branding %}
    <h1 style="display: inline;" class="ml-2">All Orders</h1>
{% endblock %}

{% block usertools %}
  {{block.super}}
  <div id="user-tools">
    {% block welcome-msg %}
      {{block.super}}
    {% endblock %}
    {% block userlinks  %}
      {{block.super}}
    {% endblock %}
  </div>
{% endblock %}

  
{% block pretitle %}<h3>All Orderd Products</h3>{% endblock %}

{% block content %}
    <div class="container-fluid">
      <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">order_id</th>
          <th scope="col">mobile</th>
          <th scope="col">alternate mobile</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        {% for i in orders %}
        <tr>
          <th scope="row">{{i.order_id}}</th>
          <td>{{i.user.userdetail.mobile}}</td>
          <td>{{i.user.userdetail.alternate_mobile}}</td>
          <td>{{i.user.userdetail.address}}, {{i.user.userdetail.landmark}}, {{i.user.userdetail.locality}}, {{i.user.userdetail.city}}, {{i.user.userdetail.state}}, {{i.user.userdetail.pincode}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>
  {{ block.super }}
{% endblock %}
