{% extends 'saler/base.html' %}
{% load static %}
{% block saler_head %}
<link rel="stylesheet" type="text/css" href="{% static 'saler/css/productview.css' %}">
<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
{% endblock saler_head %}
{% block saler_body %}
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-5">
                <img src="{{product.image1.url}}" class="image-responsive">
            </div>
            <div class="col-md-7">
                   <h1>{{product.produce_name}}</h1>
                    <p class="description">
                   {{product.desc}}
                  </p>
                  
                    
                    <div class="row">
                     <div class="col-md-12 bottom-rule">
                      <h2 class="product-price"><i class="fa fa-inr" aria-hidden="true"></i> {{product.price}}</h2>
                     </div>
                    </div><!-- end row -->

            </div>
        </div>
    </div>
</div>
{% endblock saler_body %}